*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #996D8E;

}
main>h1{
    color: burlywood;
    text-align: center;
    font-family: cursive;
}

.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0,0,0,0.1);
    font-size: 8vmin;
    color: burlywood;
    background-color: #F0F5F9;
}

main>#reset-btn{
    /* padding: 1rem; */
    /* font-size: 1.25rem; */
    background-color: #191913;
    color: white;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border: none;
    border-radius: 4px;
    padding: 3px;
}
#new-btn{
    background-color: #191913;
    color: white;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border: none;
    border-radius: 4px;
    padding: 3px;
}

#msg{
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center; 
    color: #ffffc7;
    font-size: 8vmin;
    
}

.msg-container{
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}

.hide{
display: none;
}